* .passwordGenerator {
  margin: 0;
  background-color: tomato;
  color: white;
}
.passwordGenerator .container {
  max-width: 700px;
}
.passwordGenerator h1 {
  text-align: center;
  font-size: 2.25rem;
}
.passwordGenerator h2 {
  text-align: center;
}
.passwordGenerator p {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.passwordGenerator label {
  font-weight: bold;
}
#passwordOptions {
  background-color: rgba(255, 255, 255, 0.199);
  display: flex;
  justify-content: space-around;
  margin-top: 0.75rem;
  padding: 1rem;
  align-items: center;
}
.passwordGenerator .listItems {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.trash {
  cursor: pointer;
}
